services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: linklanka_admin
      POSTGRES_PASSWORD: itpse55
      POSTGRES_DB: linklanka_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: